<h1>Books</h1>
<body>
  <table>
    <thead>
      <tr>
      　<th><h4>Title</h4></th>
　　    <th><h4>body</h4></th>
    　　  <th colspan="3"></th>
　　  </tr>
　　</thead>
　　<tbody>
    　<% @books.each do |book| %>
    　<tr>
    　　  <td><%= book.title %></td>
　　    <td><%= book.body %></td>
    　　  <td><%= link_to "show", book_path(book.id) %></td>
　　    <td><%= link_to "edit", book_path(book.id) %> </td>
    　　<td><%= link_to "destroy", book_path(@blog), method: :delete %> </td>
      </tr>
      <% end %>
    <tbody>
  </table>
  <h2>New book</h2>
  <%= form_with model:@book, local:true do |f| %>
    <div class="field">
      <label>Title</label>
      <%= f.text_field :title %>
    </div>
    <div class="field">
    <label>Body</label>
    <%= f.text_area :body %>
    </div>
    <div class="field">
    <%= f.submit 'Create Book' %>
    </div>
  <% end %>
</body>